$primary:#156fb9;

.bg-dark{
    background: #000;
    color:#fff;
}


.skillset{
    background:$primary;
    color:#fff;
    padding:5px;
    margin-bottom: 20px;
   
}

#main-header{
    img{
        width:100%;
        height:100%;
    }
    .port-item{
        width:70%;
        
        .fa{
            font-size:2em;
        }
    }
    
    .port-item:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

@media(min-width:1199px){
.port-item{
    padding:3em !important;
}
}

@media(min-width:991px){
    .name{
        .fa{
            font-size:25px;
        }
    }
}